<section class="join">
  <div class="container join-container">
    <div class="loin-info-box">
      <ul class="join-top-list">
        <li class="join-top-item">
          <span class="corner top-left"></span>
          <span class="corner top-right"></span>
          <span class="corner bottom-left"></span>
          <span class="corner bottom-right"></span>Безоплатний вебінар
        </li>
        <li class="join-top-item">
          <span class="corner top-left"></span>
          <span class="corner top-right"></span>
          <span class="corner bottom-left"></span>
          <span class="corner bottom-right"></span>Старт:
          <span class="strong-text">10 січня 19:30</span>
        </li>
      </ul>

      <h1 class="join-title">
        Навчіться створювати Excel-таблиці на pro-рівні
      </h1>

      <p class="join-description">
        Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу та
        створюйте таблиці швидко <br />і в задоволення
      </p>

      <div class="join-register-box mobile">
        <h2 class="join-subtitle">Реєструйся просто зараз</h2>
        <div class="join-timer-box">
          <div class="join-timer-field">
            <span class="join-timer-value" data-days>00</span>
            <span class="join-timer-label">днів</span>
          </div>
          <span class="join-timer-separator">&nbsp;:&nbsp;</span>
          <div class="join-timer-field">
            <span class="join-timer-value" data-days>00</span>
            <span class="join-timer-label">годин</span>
          </div>
          <span class="join-timer-separator">&nbsp;:&nbsp;</span>
          <div class="join-timer-field">
            <span class="join-timer-value" data-days>00</span>
            <span class="join-timer-label">хвилин</span>
          </div>
          <span class="join-timer-separator">&nbsp;:&nbsp;</span>
          <div class="join-timer-field">
            <span class="join-timer-value" data-days>00</span>
            <span class="join-timer-label">секунд</span>
          </div>
        </div>

        <button type="button" class="join-register-btn" data="registerBtnMob">
          Зареєструватися
        </button>
      </div>
    </div>

    <div class="join-register-box tablet">
      <h2 class="join-subtitle">Реєструйся просто зараз</h2>
      <div class="join-timer-box">
        <div class="join-timer-field">
          <span class="join-timer-value" data-days>00</span>
          <span class="join-timer-label">днів</span>
        </div>
        <span class="join-timer-separator">&nbsp;:&nbsp;</span>
        <div class="join-timer-field">
          <span class="join-timer-value" data-days>00</span>
          <span class="join-timer-label">годин</span>
        </div>
        <span class="join-timer-separator">&nbsp;:&nbsp;</span>
        <div class="join-timer-field">
          <span class="join-timer-value" data-days>00</span>
          <span class="join-timer-label">хвилин</span>
        </div>
        <span class="join-timer-separator">&nbsp;:&nbsp;</span>
        <div class="join-timer-field">
          <span class="join-timer-value" data-days>00</span>
          <span class="join-timer-label">секунд</span>
        </div>
      </div>

      <form class="join-form">
        <ul class="form-input-list">
          <li class="form-input-box">
            <input
              type="text"
              name="userName"
              placeholder="Введи своє ім’я"
              class="input"
            />

            <span class="error-massage">Gjvbfgf df</span>
          </li>
          <li class="form-input-box">
            <input
              type="email"
              name="userEmail"
              placeholder="Введи свій E-mail"
              autocomplete="email"
              class="input"
            />

            <span class="error-massage">Gjvbfgf df</span>
          </li>
          <li class="form-input-box">
            <div class="input-phone-box">
              <input
                type="tel"
                name="userPhone"
                placeholder="+380 95 -- -- ---"
                class="input input-phone"
              />
              <div class="ukraine-icon">
                <div class="top-color"></div>
                <div class="bottom-color"></div>
              </div>
            </div>

            <span class="error-massage"></span>
          </li>
        </ul>

        <div class="checkbox-political-box">
          <div class="checkbox-wrap">
            <label>
              <input
                type="checkbox"
                name="accept-political"
                class="checkbox-accept-political"
              />
              <span class="custom-checkbox">
                <svg
                  width="10"
                  height="8"
                  viewBox="0 0 10 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.710938 2.96345L3.76583 6.05117L9.26465 0.717834"
                    stroke="#0F7C41"
                    stroke-width="2"
                  />
                </svg>
              </span>
            </label>
          </div>
          <p class="text-political">
            Згоден з
            <a href="#" class="link-political">Політика конфеденційності</a> та
            <a href="#" class="link-political">Умови користування послугами</a>
          </p>
        </div>

        <button type="submit" disabled class="join-register-btn">Зареєструватися</button>
      </form>
    </div>
  </div>
</section>
