<div class="modal">
  <div class="container">
    <div class="modal-top-box">
      <a href="./index.html" class="link-logo" aria-label="Логотип компанії">
        <svg class="logo-icon" width="100" height="30">
          <use href="./img/sprite.svg#logo"></use></svg
      ></a>

      <button type="button" class="close-modal-btn">
        <svg width="18" height="18">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <h2 class="join-subtitle">Реєструйся просто зараз</h2>

    <load src="/partials/timer.html" />

    <form class="form-modal">
      <ul class="form-input-list">
        <li class="form-input-box">
          <input
            type="text"
            name="userName"
            id="modal-input-name"
            placeholder="Введи своє ім’я"
            class="input"
          />

          <span class="error-massage"></span>
        </li>
        <li class="form-input-box">
          <input
            type="email"
            name="userEmail"
            id="modal-input-email"
            placeholder="Введи свій E-mail"
            autocomplete="email"
            class="input"
          />

          <span class="error-massage"></span>
        </li>
        <li class="form-input-box">
          <div class="input-phone-box">
            <input
              type="tel"
              name="userPhone"
              id="modal-input-phone"
              placeholder="+380 95 -- -- ---"
              class="input input-phone"
            />
            <div class="ukraine-icon">
              <div class="top-color"></div>
              <div class="bottom-color"></div>
            </div>
            <span class="error-massage"></span>
          </div>
        </li>
      </ul>

      <div class="checkbox-political-box">
        <div class="checkbox-wrap">
          <label>
            <input
              type="checkbox"
              name="accept-political"
              id="modal-checkbox"
              class="checkbox-accept-political"
            />
            <span class="custom-checkbox">
              <svg
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.710938 2.96345L3.76583 6.05117L9.26465 0.717834"
                  stroke="#0F7C41"
                  stroke-width="2"
                />
              </svg>
            </span>
          </label>
        </div>
        <p class="text-political">
          Згоден з
          <a href="#" class="link-political">Політика конфеденційності</a> та
          <a href="#" class="link-political">Умови користування послугами</a>
        </p>
      </div>

      <button type="submit" disabled class="register-btn modal-submit-btn">
        Зареєструватися
      </button>
    </form>
  </div>
</div>
