<div class="timer-box">
  <div class="timer-field">
    <span class="timer-value" data-days>00</span>
    <span class="timer-label">днів</span>
  </div>
  <span class="timer-separator">&nbsp;:&nbsp;</span>
  <div class="timer-field">
    <span class="timer-value" data-hours>00</span>
    <span class="timer-label">годин</span>
  </div>
  <span class="timer-separator">&nbsp;:&nbsp;</span>
  <div class="timer-field">
    <span class="timer-value" data-minutes>00</span>
    <span class="timer-label">хвилин</span>
  </div>
  <span class="timer-separator">&nbsp;:&nbsp;</span>
  <div class="timer-field">
    <span class="timer-value" data-seconds>00</span>
    <span class="timer-label">секунд</span>
  </div>
</div>
