body {
  background-image: url('../img/bg-mob.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #010101;

  &.no-scroll {
    overflow: hidden;
  }
}

@media (min-resolution: 2x) {
  body {
    background-image: url('../img/bg-mob@2x.png');
  }
}

section {
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url('../img/bg-tab.png');
  }

  @media (min-resolution: 2x) {
    body {
      background-image: url('../img/bg-tab@2x.png');
    }
  }

  section {
    padding-bottom: 81px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url('../img/bg-desk.png');
  }

  @media (min-resolution: 2x) {
    body {
      background-image: url('../img/bg-desk@2x.png');
    }
  }

  section {
    padding-bottom: 110px;
  }
}
